@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
  width: 100%;
}

.campo {
  display: flex;
  margin-bottom: 2.5rem;
  align-items: center;
  label {
    flex: 0 0 10rem;
  }
  input {
    flex: 1;
    background-color: v.$rosa-claro;
    border: none;
    border-radius: 2rem;
    padding: calc(v.$separacion/4);

    &:disabled {
      background-color: lighten(v.$morado, 40%);
      cursor: none;
    }
  }
}
