//*Fuentes
$fuente_principal: "Poppins", sans-serif;
$fuente-secundaria: "Lugrasimo", cursive;
$fuente-titulo: "Dancing Script", cursive;

//*media Query
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//*Colores
$azul: #0da6f3;
$rojo: #923c53e8;
$morado: #64427cb7;
$verde: #329f00;
$negro: #1a1b15;
$rosa: rgb(150, 85, 130);
$rosa-claro: rgba(249, 198, 229, 0.518);
$rosa-oscuro: rgb(127, 85, 115);
$rosa-blanco: rgb(252, 180, 248);
$blanco: #ffffff;
$gris: #e1e1e1;

//* separacion
$separacion: 5rem;

//*tamaño fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
