@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }
}
.imagen {
  height: 30rem;
  background-image: url(../img/portada.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
  .title {
    z-index: 2;
    font-family: v.$fuente-titulo;
    margin-top: 3rem;
    background: linear-gradient(
      0deg,
      rgba(251, 255, 251, 0.9332107843137255) 12%,
      rgba(243, 232, 229, 1) 33%,
      rgba(234, 204, 202, 1) 53%,
      rgba(212, 140, 140, 1) 77%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  @include m.tablet {
    height: auto;
  }
}

.app {
  width: 95%;
  margin: 0 auto;
  padding: 3rem 0;
  @include m.tablet {
    overflow: scroll;
  }
}

.barra-servicios {
  margin-bottom: v.$separacion;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
  }
  .boton {
    margin: 0 0 1rem 0;
  }
}
